@{
    ViewData["Title"] = "Home Page";
}

<div class="page-1">
    <h1 class="display-4">Welcome to arm-code</h1>
    <h1>My name is Alexis Romero Mendoza</h1>
    <br>
    <div class="img-container"><img src="~/img/profile.jpg" alt="profile picture"></div>
</div>
