@{
    ViewData["Title"] = "Home Page";
}

<div class="page-1">
    <h1 class="display-4">Welcome to arm-code</h1>
    <h2>My name is Alexis Romero Mendoza</h2>
    <br>
    <div class="img-container"><img src="~/img/profile.jpg" alt="profile picture"></div>
</div>

<div class="page-2">
    <h1 class="typing-text">I am software developer.</h1>
    <div class="container">
        <div class="logo-container"><img src="~/img/js.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/cs.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/css.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/html.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/sqlserver.svg" alt="photo"></div>
        <div class="logo-container"><img src="~/img/vscode.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/asp.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/git.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/github.png" alt="photo"></div>
    </div>
    
</div>

<div class="page-3">
    <h1 class="display-4">I love to share to others students my experiencies.</h1>
    <div class="container">
        <div class="logo-container"><img src="~/img/yt.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/tk.webp" alt="photo"></div>
        
    </div>
</div>

<div class="page-4">
    <h1 class="display-4">Actually I'm working on SPAyT Chihuahua.</h1>
    <h2>What do I do?</h2>
    <div class="container">
        <div class="work-description">
            <h2 class="original-text">Improve company website</h2>
            <h2 class="hover-text">Improve company website</h2>
        </div>
        <div class="work-description">
            <h2 class="original-text">Database queries</h2>
            <h2 class="hover-text">Database queries</h2>
        </div>
        <div class="work-description">
            <h2 class="original-text">Build new tools</h2>
            <h2 class="hover-text">Build new tools</h2>
        </div>
        <div class="work-description">
            <h2 class="original-text">Hardware and software support</h2>
            <h2 class="hover-text">Hardware and software support</h2>
        </div>
        
    </div>
</div>
