@{
    ViewData["Title"] = "Home Page";
}

<div class="page-1">
    <h1 class="display-4">Welcome to arm-code</h1>
    <h2>My name is Alexis Romero Mendoza</h2>
    <br>
    <div class="img-container"><img src="~/img/profile.jpg" alt="profile picture"></div>
</div>

<div class="page-2">
    <h1 class="typing-text">I am software developer.</h1>
    <div class="container">
        <div class="logo-container"><img src="~/img/js.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/cs.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/js.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/cs.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/js.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/cs.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/js.png" alt="photo"></div>
        <div class="logo-container"><img src="~/img/cs.png" alt="photo"></div>
    </div>
    
</div>
