@{
    ViewData["Title"] = "Home Page";
}

<div class="page-1">
    <h1 class="display-4">Welcome to arm-code</h1>
    <h2>My name is Alexis Romero Mendoza</h2>
    <br>
    <div class="img-container"><img src="~/img/profile.jpg" alt="profile picture"></div>
</div>

<div class="page-2">
    <h1 class="display-4">What do I do?</h1>
    <h2>I am software engineer, and  I work with the next technologies: </h2>
    <br>
    <div class="container">
        <div class="img-container-tech"><img src="~/img/csharp.png" alt="image technologie"></div>
        <div class="img-container-tech"><img src="~/img/csharp.png" alt="image technologie"></div>
        <div class="img-container-tech"><img src="~/img/csharp.png" alt="image technologie"></div>
        <div class="img-container-tech"><img src="~/img/csharp.png" alt="image technologie"></div>
    </div>
    
</div>
-tech