@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
  --color-gris: #c1c1c1;
  --color-blue-ligth: #99b2d1;
  --color-blue-medium: #395698;
  --color-blue-higth: #152b5a;
  --color-black: #000000;
}

h1, h2 {
  font-family: 'IBM Plex Mono', monospace;
}

body{
  margin: 0;
}

div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul li:hover{
  text-decoration: underline;
}

.nav-container-l{
  width: 30%;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.nav-container-r{
  width: 70%;
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  padding-right: 5%; 
}

nav {
  color: var(--color-black);
  font-size: 25px;
  height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Mono', monospace;
  background-color: white;
  color: var(--color-blue-higth);
  border-bottom: 1px solid var(--color-blue-ligth);
}

.page-1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-blue-ligth);
  color: var(--color-blue-higth);
}

.page-2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  color: var(--color-blue-higth);
}
.page-3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-color: var(--color-blue-ligth);
  color: var(--color-blue-higth);
}

.page-4{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-color: var(white);
  color: var(--color-blue-higth);
}

.page-1 h1, .page-2 h1{
  margin: 0;
}

.page-2 h1{
  margin: 0 0 5% 0;
}

.page-4 h1{
  margin: 0;
}

.img-container{
  width: 200px;
  height: 200px;
}

.img-container img{
  height: auto;
  width: 100%;
  border-radius: 50%;
}


/*
  > Este container es parte de la pagina 2, donde se estan almacenando las imagenes
    de los logotipos de las habilidades.
*/
.container{
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.logo-container{
  width: 100px;
  height: 100px;  
  padding: 5% 5% 5% 0;
}

.work-description{
  width: 100px;
  height: 100px;  
  padding: 1.5em;
  margin: 5%;
  border: 1px solid var(--color-blue-higth);
  transition: all 0.3s ease;
}

.work-description:hover{
  background-color: var(--color-blue-higth);
  color: white;
  width: 400px;
  height: 400px;
}

.work-description:hover .original-text{
  display: none;
}

.work-description:hover .hover-text{
  
  display: block;
}

.hover-text{
  display: none;
}




/*
  > Como hacer girar un DIV desde su parte central
*/
.logo-container:hover{
  animation: rotate 1s infinite;
  transform-origin: center center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}


/*
  > Codigo para simular que el texto se esta escribiendo infinitamente
*/
.typing-text{
  overflow: hidden;
  border-right: 0.15em solid #000;
  white-space: nowrap;
  margin: 0;
  animation: typing 3s steps(40) infinite;
}

@keyframes typing{
  from{
    width: 0;
  }
  to{
    width: 50%;
  }
}

