@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
  --color-gris: #c1c1c1;
  --color-blue-ligth: #99b2d1;
  --color-blue-medium: #395698;
  --color-blue-higth: #152b5a;
  --color-black: #000000;
}
h1 {
  font-family: 'IBM Plex Mono', monospace;
}


body{
  margin: 0;
  
}

div div {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0;
}

nav ul div {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  justify-content: center;
}


nav {
  color: var(--color-black);
  font-size: 25px;
  height: 200px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Mono', monospace;
  background-color: white;
}


.page-1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-blue-ligth);
  
}

.page-1 h1{
  
  margin: 0;
}
.img-container{
  width: 200px;
  height: 200px;
}

.img-container img{
  height: auto;
  width: 100%;
  border-radius: 50%;
}


